
@{
    ViewData["Title"] = "Accounting";
}

<h1>Accounting - Tools</h1>
<h4>Accounts</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="ListAccounts">List all Accounts</a>
    </li>
</ul>

<h4>Transactions</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Transactions" asp-action="ListTransAll">List all Transactions</a>
    </li>
</ul>