
@{
    ViewData["Title"] = "MediStats";
}

<h1>Medical Statistics in Covid-19 times !</h1>

<h4>Personal sampling tool</h4>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PhysicalSamplings" asp-action="ListPHSamplings">List Physical samplings - ALL and create new samplings</a>
    </li>
</ul>

