
@{
    ViewData["Title"] = "NBS";
}

<h1>NBS - Incident - Tools</h1>



<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-primary" asp-area="" asp-controller="Companies" asp-action="ListCompanies">View, Create and Edit Companies</a>
    </li>
</ul>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-sm btn-success" asp-area="" asp-controller="Home" asp-action="NBSSettings">To NBS Settings (Roles, Statuses and Types)</a>
    </li>
</ul>

